<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {% for post in post %}
    <p>{{ post.caption }}</p>
    <p>{{ post.user }}</p>
    <p>{{ post.created_at }}</p>
    <a href="#">Like</a>
    {% endfor %} -->
    <p>{{ counts }} people who liked</p>

    {% for like in people_liked %}
        <p>{{ like.username }}</p>
        {% endfor %}
    <a href="{% url 'index' %}">Back to post</a>

</body>
</html>