<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Social Book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body class="bg-gray-100">


    <div>

        <!-- header-->
        <div>
    
                        <a href="/signup">Register</a>
        </div>

        <!-- Content-->
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit">Login</button>
                        <!-- <a href="/signup" class=""> Create a account </a> -->
                </form>
                
    </div>
</body>
</html>